.nav-item{
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link:hover{
    border-radius: 25px;
    background-color: rgb(60, 180, 29) !important;
}

.nav-link{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand:hover{
    background-color: rgb(60, 180, 29) !important;
    border-radius: 25px;
}


